@import "tailwindcss";

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-100 antialiased;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-zinc-800 rounded-full;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-700;
  }
}

canvas {
  touch-action: none;
}
